/* General Demo Style */
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 25px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

div.container{
	
	height:1280px;
	width: 100%;
	position: relative;
}

header{
	margin: 20px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block; 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align: center; 
}
h1#bo{
	font-size: 70px;
	line-height: 70px;
	margin: 0;
	position: relative;
	font-weight:500;
	color: #128680; 
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
} 
.container > header h2{
	font-size: 15px;
	font-weight: 300;
	margin: 0; 
	padding: 15px 0 5px 0;
	color: #7c8e8d;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
