/* Command Record Section */
p {
    font-style: italic;
    font-size: 20px;
}

.CR_Table {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
}

.CR_Page_Title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #333;
}

.CR_Page_Subtitle {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #128680;
}

.CR_Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.CR_Row {
    display: table-row;
}

.CR_Cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.CR_G_Sel {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

.CR_Cmd_Cell {
    display: table-cell;
    border:2px solid #128680;
    background-color: #d2d2d2;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 110px;
    vertical-align: middle;
    cursor: default;
}

.CR_Ele_Cell {
    display: table-cell;
    border:2px solid #128680;
    background-color: #d2d2d2;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}

.CR_C_Sel {
    background-color: rgb(178, 178, 178);
}

.CR_C_Ena {
    cursor: pointer;
}

.CR_Inner_Blank_Cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 110px;
    vertical-align: middle;
}

.CR_Current {
    width: 100px;
}

.CR_Left {
    float: left;
}

.CR_But_Cell {
    display: table-cell;
    border:2px solid #128680;
    background-color: #d2d2d2;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 110px;
    vertical-align: middle;
    cursor: pointer;
}

.CR_Watermark {
    color: #999;
    font-style: italic;
}

.CR_Spacer {
    height: 20px;
}
/* End of command Record Section */
